

    /* THIS IS FOR THE COCKTAILS.HTML */
    html{
        min-width: 1000px;
    }


    body{
    background-color: rgb(94, 94, 94);
    font-family:Bahnschrift;
}

main{
    background: rgb(36,22,0);
}
.kuva{
    margin-right: 0px;
}

.navbar{
    background-color: #9b9b9b;
    color: white;
    padding-left: 20px;
    }
    
    .navbar-brand{
        font-size: 40px;
        font-family: Impact;
    }
    
    .nav-item{
        font-family: Leelawadee;
        font-size: 2rem;
        margin-inline: 1rem;
        padding-inline: 1rem;
        border: solid ;
        border-radius: 10px;
    }

div.col.kuva{
    max-width: 500px;
}

header{
    text-align: center;
}

.info{
    margin: 10px;
    padding-bottom: 40px;
    max-width: 500px;
    min-width: 300px;
}
ul{
    padding: 0px;
}

li{
    text-align: left;
    list-style: none;
    padding: 5px ;
    font-size: 20px;
    font-weight: 600;
}

p{
    color: white;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
    font-size: 20px;
}

h4{
    color: white;
    text-shadow: 1px 2px 2px black;
    font-size: 50px;
}

h3{
    color: white;
    text-shadow: 1px 2px 2px black;
    font-size: 30px;
}
    /* THIS IS FOR THE COCKTAILS.HTML END */



    /* Long island start */

.longisland{
    border: solid 10px;
    background: linear-gradient(90deg, #92CCFE 30%, #F1D665 65%, #334314 100%);
}
    

.recipelist{
    color: white;
    text-shadow: 1px 2px 2px black;
}

.reseptilong{   
    border: 3px solid;
    padding: 10px;
    background-color: rgba(251, 255, 0, 0.2);
    margin-right: 20px;
}

.longislandkuva{
    border-radius: 30px ;
    border: 4px solid orange;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 450px;
}

.valmistus{
    text-align: left;
    padding: 10px;
    background-color: rgba(251, 255, 0, 0.2);
    margin-left: 0px;
    border: 3px solid;
}
    /* Long island end */


    /* Moscow Mule start */

.Moscowmulekuva{
    width: 450px;
    border-radius: 30px ;
    border: 4px solid rgb(160, 95, 35);
    margin-top: 10px;
    margin-bottom: 10px;
}

.Moscowmule{
    border: solid 10px;
    background: rgb(136,116,83);
    background: linear-gradient(to right, #9FBAC4 0%, #B4663A 47%, #380A00 100%);}

.reseptimule{
    background-color:rgba(105, 105, 105, 0.26);
    border: solid 3px;
    padding: 10px;
    margin-right: 20px;
    width: auto;
}

.valmistusmule{
    background-color:rgba(105, 105, 105, 0.26);
    border: solid 3px;
    text-align: left;
    padding: 10px;
    font-weight: 600;
}

    /* Moscowmule End */

    /* Valkovenäläinen Start */

.valkovenäläinenkuva{
    width: 450px;
    border-radius: 30px ;
    border: 4px solid rgb(83, 83, 83);
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 600px;
}

.Valkovenäläinen{
    border: solid 10px;
    background: rgb(136,116,83);
    background: linear-gradient(to right, #3D3943 0%, #746452 47%,#0C0B09 70%, #0E0F18 100%);}

.reseptivenäläinen{
    background-color:rgba(105, 105, 105, 0.26);
    border: solid 3px;
    padding: 10px;
    margin-right: 20px;
    width: auto;
}

.valmistusvenäläinen{
    background-color:rgba(105, 105, 105, 0.26);
    border: solid 3px;
    text-align: left;
    padding: 10px;
    font-weight: 600;
}

/* VALKOVENÄLÄLINEN END */

/* PINACOLADA START */

.Pinacoladakuva{
    width: 450px;
    border-radius: 30px ;
    border: 4px solid rgb(83, 83, 83);
    margin-top: 10px;
    margin-bottom: 10px;
}

.Pinacolada{
    border: solid 10px;
    background: rgb(136,116,83);
    background: linear-gradient(to right, #94C3EE 0%, #D0A100 47%, #F6E1C3 100%);}

.resepticolada{
    background-color:rgba(105, 105, 105, 0.3);
    border: solid 3px;
    padding: 10px;
    margin-right: 20px;
    width: auto;
}

.valmistuscolada{
    background-color:rgba(105, 105, 105, 0.3);
    border: solid 3px;
    text-align: left;
    padding: 10px;
    font-weight: 600;
}
