html{
    min-width: 1450px;
}


body{
background-color: rgb(94, 94, 94);
font-family:Bahnschrift;
}

main{
    background: rgb(124, 122, 122);
    width: auto;
}

/* NAVBAR */
/* NAVBAR */
/* NAVBAR */
.navbar{
background-color: #9b9b9b;
color: white;
padding-left: 20px;
}



.navbar-brand{
    font-size: 40px;
    font-family: Impact;
    border: solid;
    padding-inline: 20px;
    border-radius: 10px;
   
}

.navbar-brand:hover{
    background-color: white;
}

.nav-item{
    font-family: Leelawadee;
    font-size: 2rem;
    margin-inline: 1rem;
    padding-inline: 1rem;
    border: solid black;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}



.nav-item:hover{
    background-color: white;
}



.nav-link{
    text-decoration: none;
    color: white;
}

.valittu{
    background-color: white;
}

/* NAVBAR */
/* NAVBAR */
/* NAVBAR */

header{
text-align: center;
}

.info{
margin: 10px;
padding-bottom: 40px;
max-width: 900px;
min-width: 700px;
}

li{
text-align: left;
list-style: none;
padding: 5px ;
font-size: 20px;
font-weight: 600;
}

    /* 1 START */

.Päävalikko{
    border: 10px solid ;
    background:linear-gradient(90deg, #1A0800 0%, #5B6B7B 20%, #FED186 60%, #8D6E5B 100%);
    color: #1A0800;
}
    /* 1 END */

    /* JUOMIEN KÄSIKIRJA */

.otsikko{
    background-color: #f1b67e48;
    color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1{
    font-size: 5rem;
}

p{
    font-size: 25px;
}

button{
    background-color: black;
}

.carousel{
    border: rgb(0, 0, 0) solid;
    border-radius: 20px;
    overflow: hidden;
    width: 550px;
    margin-bottom: 40px;
}
img{
    height: 800px;
    padding:0px;
    margin:0px;
    object-fit: cover;
}

h1{
    color: white;
}

.lomake{
    margin: 20px;
    color: white;
}

.arvostelut{
    background-color: #50463d;
    background:linear-gradient(190deg,#010101 0%, #85827D 30%, #504E4F 70%);
    border: solid;
    height: 880px;
}
    /* JUOMIEN KÄSIKIRJA */