/* THIS IS FOR THE COCKTAILS.HTML */
/* Long island start */
body{
    background-color: gray;
    font-family:sans-serif;
}

main{
    height: fit-content;
    background: rgb(36,22,0);
}

.longisland{
    border: solid 10px;
    background: linear-gradient(90deg, rgba(36,22,0,1) 30%, rgba(171,110,6,1) 65%, rgba(224,255,0,1) 100%);
}

header{
    text-align: center;
}
img{
    height: 600px;
}
.info{
    margin: 10px;
    padding-bottom: 40px;
}
ul{
    padding: 0px;
}

li{
    text-align: left;
    list-style: none;
    padding: 5px ;
    font-size: large;
    font-weight: 600;
}

.reseptilong{   
    width: fit-content;
    border: 3px solid;
    padding: 10px;
    background-color: rgba(167, 121, 121, 0.836);
    margin-right: 40px;
}

.longislandkuva{
    border-radius: 30px ;
    border: 4px solid orange;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 450px;
}

.valmistus{
    text-align: left;
    padding: 10px;
    background-color: aliceblue;
    margin-left: 0px;
}
    /* Long island end */


    /* Moscow Mule start */

.Moscowmulekuva{
    width: 450px;
    border-radius: 30px ;
    border: 4px solid rgb(160, 95, 35);
    margin-top: 10px;
    margin-bottom: 10px;
}

.Moscowmule{
    border: solid 10px;
    background: rgb(136,116,83);
    background: linear-gradient(to right, rgb(19, 19, 19) 0%, rgba(202, 248, 150, 0.418) 47%, rgba(209, 176, 27, 0.993) 100%);}