html{
    min-width: 1000px;
}


body{
background-color: rgb(94, 94, 94);
font-family:sans-serif;
}

main{
background: rgb(124, 122, 122);
}
.kuva{
margin-right: 0px;

}

.navbar{
background-color: #bdbdbd;
color: white;
}

.col{
max-width: 500px;
}

header{
text-align: center;
}

.info{
margin: 10px;
padding-bottom: 40px;
max-width: 500px;
min-width: 300px;
}
ul{
padding: 0px;
}

li{
text-align: left;
list-style: none;
padding: 5px ;
font-size: 20px;
font-weight: 600;
}

p{
font-size: 20px;
}

h4{
font-size: 30px;
}

img{
    max-width: 500px;
}

    /* 1 START */

.Sandels{
    border: 10px solid ;
    background:linear-gradient(90deg, #1A0800 0%, #5B6B7B 20%, #FED186 60%, #8D6E5B 100%);
    color: #1A0800;
    text-shadow: 1px 1px 1px white;
}

.sandelskuva{
    border: 4px solid silver;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 450px;
}


    /* 1 END */

    /* 2 START */
    /* 2 END */
    
    
    /* 3 START */
    /* 3 END */


    /* 4 START */
    /* 4 END */