body{background: lightgreen}
figcaption{background-color: green; border: 2px solid; padding: 2%; text-align: center;}
img{}
h1{background-color: black; color: rgb(255, 0, 0); border-radius: 10px; border: 2px solid;}
p{background-color: rgb(0, 81, 255);  border-radius: 2cm;color: rgb(253, 247, 247);}