body{
    background-color: gray;
}

header{
    background-color: aliceblue;
    line-height: 2cm;
}

h1{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    background-color: rgb(98, 102, 102);
    border: 1px solid;
    padding: 2px;  
}